.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    padding-bottom: 80px;
}

.gridContainer{
    display: flex;
    display: flex;
    flex-wrap: wrap;
    background-color: #f4f4f4;
    width: 500px;
    height: 500px;
    
}

.gridContainer div{
    background-color: white;
    
}

